numpy
pandas
torch
pytorch-lightning
torchmetrics
tqdm
matplotlib
scikit-learn
leidenalg
scanpy 
jupyter
scipy
scvi-tools
wandb 
hydra-core
hydra-optuna-sweeper
hydra-submitit-launcher
pot
torchdyn
muon