pynvml
setuptools
pyarrow
merlin-dataloader
merlin-core
numpy
pandas
torch
lightning
torchmetrics
tensorboard
tqdm
matplotlib
scikit-learn
leidenalg
scanpy
rdkit 
jupyter
scipy
scikit-learn==1.2.1
dgl
dgllife
descriptastorus
torchvision
wandb
